{% load static %}



    <!-- Navbar Start -->
    <div class="container-fluid p-0 nav-bar">
      <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
          <a href="{% url 'restaurant:home' %}" class="navbar-brand px-lg-4 m-0">
              <h2 class="m-0 display-4 text-uppercase text-white">Bongo</h2>
          </a>
          <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav ml-auto p-4">
                {% url 'restaurant:home' as url %}
                  <a href="{{ url }}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Home</a>
                  {% url 'restaurant:reviews' as url %}
                  <a href="{{ url }}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Reviews</a>
                  <div class="nav-item dropdown">
                    {% url 'restaurant:foods' as url %}
                    <a class="nav-link dropdown-toggle {% if request.path == url %}active{% endif %}" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="true">Menu</a>
                    
                      <ul class="dropdown-menu text-capitalize" aria-labelledby="dropdown01" id="foodmenu">
                        
                        <li>
                          <a class="dropdown-item" href="{{ url }}">Foods</a>
                        </li>
                        {% url 'restaurant:drinks' as url %}
                        <li><a class="dropdown-item" href="{{ url }}">Drinks</a></li>
                        
                      </ul>
                  </div>
                 
                  {% if user.id is not None %}
                 
                  <div class="nav-item dropdown" id="dropdown">
                    {% url 'account:profile' as url %}
                    <a class="nav-link dropdown-toggle {% if request.path == url %}active{% endif %}" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">Hi, {{ request.user }}</a>
                      <ul class="dropdown-menu text-capitalize" aria-labelledby="dropdown02" id="accountmenu">
                        <li class="nav-item">
                          <span style="margin-left: 15px;">
                            <img src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'images/userimage.png' %}{% endif %}" style="height:30px; border-radius:30%;">
                          </span>
                        </li>
                        <li>
                          <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'account:profile' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'restaurant:reservations' %}">Reservations</a></li>
                      </ul>
                  </div>
                  {% url 'restaurant:reservations' as url %}
                  <a href="{% url 'restaurant:reservations' %}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Reservations</a>
                  {% else %}
                  {% url 'account:register' as url %}
                  <a href="{{ url }}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Signup</a>
                  {% url 'account:signin' as url %}
                  <a href="{{ url }}" class="nav-item nav-link {% if request.path == url %}active{% endif %}">Login</a>
                  {% endif %}
              </div>
          </div>
      </nav>
  </div>
  <!-- Navbar End -->
  
