{% extends 'base_auth.html' %}

{% load static %}

{% block title %}profile{% endblock%}

{% block content %}

<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5">
        <div class="card logout">
            <div class="card-body">
              <h3 class="card-title title-lead mt-3">{{ user_profile }} Info:</h3>
              <hr>
              {% include '_partials/messages.html' %}
                
             <div class="row mt-5">
              <div class="col-md-6 pl-5">
                <img src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% else %}{% static 'images/userimage.png' %}{% endif %}" style="height:80px; width:80px; border-radius:50%;" alt="userimage">
              </div>
            <br>
              <div class="col-md-6 pr-5 pt-3">
                <a href="{% url 'account:update-profile' %}" class="btn btn-outline-success btn-block cfm">Update Profile</a>
                <a href="{% url 'account:change-password' %}" class="btn btn-outline-success btn-block cfm">Update Password</a>
              </div>
             </div>
             <br>
               
              
              <div class="row mt-5 mb-5 d-grid">
                  <div class="row mb-3 ctr">
                    <div class="col-md-3">
                      <label class="form-label sp-teller">Name:</label>
                    </div>
                    <div class="col-md-9">
                    <div class="form-control ml-4">
                      {{ user.username }}
                    </div>
                    <br>
                  </div>

                  <div class="row mb-3 ctr">
                    <div class="col-md-3">
                      <label class="form-label sp-teller">Email:</label>
                    </div>
                    <div class="col-md-9">
                    <div class="form-control ml-4">
                      {{ user.email }}
                    </div>
                    <br>
                  </div>
<!--                 
                  <div class="row mb-3 ctr">
                    <div class="col-md-3">
                      <label class="form-label sp-teller">FName:</label>
                    </div>
                    <div class="col-md-9">
                    <div class="form-control">
                      {{ user.first_name }}
                    </div>
                    <br>
                    </div>
                  </div>
                <div class="row mb-3 ctr">
                  <div class="col-md-3">
                    <label class="form-label sp-teller">LName:</label>
                  </div>
                  <div class="col-md-9">
                  <div class="form-control">
                    {{ user.last_name }}
                  </div>
                  <br>
                  </div>
                </div>
                <div class="row mb-3 ctr">
                  <div class="col-md-3">
                    <label class="form-label sp-teller">Address:</label>
                  </div>
                  <div class="col-md-9">
                  <div class="form-control">
                    {% if not user_profile.address %}Please supplier your address{% else %}{{ user_profile.address}}{% endif %}
                  </div>
                  <br>
                  </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                      <label class="form-label sp-teller" for="avatar">Upload:</label>
                    </div>
                    <div class="col-md-9">
                    <input type="file" class="form-control" name="avatar">
                    </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="" class="form-label sp-teller">Gender:</label>
                  </div>
                  <div class="col-md-9">
                    <select class="form-select" aria-label="Default select example" name="gender">
                      <option selected>{{ user_profile.gender }}</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div> -->
                <div class="row mb-3">
                  <div class="col-md-3">
                    <label class="form-label sp-teller" for="bio">Bio:</label>
                  </div>
                  <div class="col-md-9">
                   <!-- <div class="form-control"> -->
                    <textarea name="bio" id="bio" class="form-control ml-4" cols="30" rows="10">
                      {% if user_profile.bio == '' %}Write something about yourself...{% else %}{{user_profile.bio}}{% endif %}
                    </textarea>
                   <!-- </div> -->
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-3"></div>
                  <div class="col-md-9">
                    <a href="{% url 'account:logout' %}" class="btn btn-outline-primary cfm">Logout</a>
                  </div>
                </div>
              
              </div>
                     
              
            </div>
          </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}