{% extends 'base_auth.html' %}

{% load static %}

{% block title %}profile update{% endblock%}

{% block content %}

<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5">
        <div class="card logout">
            <div class="card-body">
              <h3 class="card-title title-lead">Update Password:</h3>
              <hr>
              {% include '_partials/messages.html' %}
                            
              <div class="row mb-5 gx-5">
                <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="row mb-3">
                    <div class="col-md-3">
                      <label class="form-label sp-teller">{{ field.label }}:</label>
                    </div>
                    <div class="col-md-9">
                     
                        <input type="password" class="form-control" name="{{ field.name }}"  value="">
                    </div>
                  </div>
                  {% endfor %}
                
                <br>
                <div class="row mb-3">
                  <div class="col-md-3"></div>
                  <div class="col-md-6 d-grid gap-4 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-outline-primary btn-block cfm">Update Password</button>
                    <a href="{% url 'account:logout' %}" class="btn btn-outline-primary btn-block cfm">Logout</a>
                  </div>
                  <div class="col-md-3"></div>
                </div>
                </form>
              </div>
                     
              
            </div>
          </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}