body {
    background-color: #FFFBF2;
}
.title-lead {
    text-align: center;
    color: #cda45e;
}
.alert {
    text-align: center;
}
.logout {
    border: 2px solid #cda45e;
    background-color: #2a2a2c;
    box-shadow: 15px 10px 10px rgba(205, 164, 94, 0.5); 
    
}
.grow {
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1)!important;
}
h3 {
    text-align: center;
    color: #cda45e;
}

  #nav {
    min-height: 10%!important;
    background-color: rgba(51,33,29,0.9)!important;
  }

  .rtend {
    margin-right: 3rem;
  }
  .ltend {
    margin-left: 3rem;
  }
  #to-top {
    text-decoration: none;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10000;
}
  #to-top i {
    color: #292F36;
    font-size: 250%;
}
#to-top>span {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    text-decoration: none;
    line-height: 52px;
    background-color: rgba(205, 164, 94, 0.7);
    border: 2px solid transparent;
    text-align: center;
}

#to-top>span:hover {
    background-color: transparent;
}
#to-top i {
    color: #292F36;
    font-size: 300%;
}

.move_to_top {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.sft {
    color: #342408;
    border: 1px solid #cda45e;
}
.sft:hover {
    background-color: #cda45e;
}
.cfm {
    color: #cda45e!important;
    border: 2px solid #cda45e;
}
.cfm:hover {
    color: #fff;
    background-color: rgba(51,33,29,0.9);
    border: 2px solid #cda45e!important;
}
.kn {
    display: flex;
}
.hr {
    border: 2px solid #cda45e!important;
}
.container-carousel {
    width:100%;
    margin: 50px auto;
    min-height: 12%;
    background-color: transparent;
    overflow: hidden;
}
.container-carousel .card-container {
    height: 250px;
    width: 250px;
    flex-shrink: 0;
    padding-right: 15px;
    box-sizing: border-box;
}
.container-carousel .card-container .card {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container-carousel .testimony {
    display: flex;
}

.ad {
    padding: 10px 24px;
    justify-content: left;
}

.menu-item {
    position: relative!important;
    margin-bottom: 30px!important;
    display: flex!important;
    align-items: center!important;
}
.menu-item p {
    position: relative!important;
    margin-left: 30px;
}
.menu-text {
    width: calc(100% - 100px)!important;
}
.mk-top {
    padding-top: 10px;
    padding-bottom: 0px;
}
.social-links {
    text-align: center;
}

.social-links i {
    font-size: 120%;
    color: #2a2a2a;
    margin: 1%;
    padding: 0.5%;
}
.social-links>li {
    display: inline;
}
#dk-bg {
    background-color: transparent!important;
}
.sp-teller, .sp-teller > a {
    color: #fff;
    font-size: 120%;
}
.ctr {
    text-align: center;
}
.signup, .lgn {
    color: #fff;
    font-size: 140%;
    border: 1px solid #cda45e;
    background-color: #cda45e!important;
}

.bi, .bi > a {
    color: #cda45e!important;
}
.input-group-append {
    cursor: pointer;
}
.text-dark {
    color: #cda45e!important;
}
.input-group-text {
    color: #cda45e!important;
}
.table-bordered {
    border: 2px solid #cda45e!important;
}
table.table-bordered th {
    color: #342408;
    text-align: center;
}
.contact .info i {
    font-size: 20px;
    float: left;
    width: 44px;
    height: 44px;
    background: #cda45e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #bab3a6;
}
.contact .info .open-hours, .contact .info .email, .contact .info .phone {
    margin-top: 40px;
}
.contact .php-email-form input {
    height: 44px;
}

.bm {
    color: #fff!important;
}
.bi-geo-alt::before {
    content: "\f3e8";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
}
.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}
.ci {
    color: rgba(51, 33, 29, 0.9)!important;
}
.footer {
    background-color: rgba(51,33,29,0.9);
    position: relative !important;
    bottom: 0;
    left: 0;
    width: 100%;
}
.pageheader {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url('https://res.cloudinary.com/dyrp3aqdq/image/upload/v1679185704/static/images/bg.fe97b73fe240.webp');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
.btn-square, .btn-sm-square, .btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
.btn-lg-square {
    width: 46px;
    height: 46px;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0;
}
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.ky {
    display: flex;
    flex-wrap: wrap;
}
.text-primary {
    color: #cda45e !important;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}