body {
    background-color: #2a2a2c;
}
.title-lead {
    text-align: center;
    color: #cda45e;
}
.alert {
    text-align: center;
}
.logout {
    border: 2px solid #cda45e;
    background-color: #2a2a2c;
    box-shadow: 15px 10px 10px rgba(205, 164, 94, 0.5); 
    
}
h3 {
    text-align: center;
    color: #cda45e;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(205, 164, 94, 0.7);
    color: #2a2a2c;
    text-align: center;
  }
  #nav {
    min-height: 10%!important;
    background-color: rgba(205, 164, 94, 0.7)!important;
  }
  .rtend {
    margin-right: 3rem;
  }
  
  #to-top {
    text-decoration: none;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10000;
}
  #to-top i {
    color: #292F36;
    font-size: 250%;
}
#to-top>span {
    width: 52px;
    height: 52px;
    border-radius: 52px;
    text-decoration: none;
    line-height: 52px;
    background-color: rgba(205, 164, 94, 0.7);
    border: 2px solid transparent;
    text-align: center;
}

#to-top>span:hover {
    background-color: transparent;
}
#to-top i {
    color: #292F36;
    font-size: 300%;
}

.move_to_top {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.cfm {
    color: #cda45e!important;
    border: 1px solid #cda45e;
}
.cfm:hover {
    color: #fff;
    background-color: rgba(198, 172, 82, 0.5);
    border: 1px solid #cda45e!important;
}
.mk-top {
    padding-top: 10px;
    padding-bottom: 0px;
}
.social-links {
    text-align: center;
}

.social-links i {
    font-size: 120%;
    color: #2a2a2a;
    margin: 1%;
    padding: 0.5%;
}
.social-links>li {
    display: inline;
}
#dk-bg {
    background-color: #2a2a2a!important;
}
.sp-teller, .sp-teller > a {
    color: #fff;
    font-size: 120%;
}
.ctr {
    text-align: center;
}
.signup, .lgn {
    color: #fff;
    font-size: 140%;
    border: 1px solid #cda45e;
    background-color: #cda45e!important;
}

.bi, .bi > a {
    color: #cda45e!important;
}
.input-group-append {
    cursor: pointer;
}
.text-dark {
    color: #cda45e!important;
}
.input-group-text {
    color: #cda45e!important;
}