{% extends 'base_auth.html' %}

{% load static %}
{% block title %}Reservation{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5">
        <div class="card logout">
            <div class="card-body">
              <h3 class="card-title title-lead">Book a table:</h3>
              <hr>
              {% include '_partials/messages.html' %}              
              <div class="row mb-5 gx-5">
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <div class="col-md-3">
                      <label class="form-label sp-teller" for="id_table_type">Table Type:</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-select" aria-label="Default select gender" name="table_type" id="id_table_type">
                            <option selected>Basic</option>
                            <option value="vip">Vip</option>
                            <option value="basic">Basic</option>
                        </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                        <div class="col-md-3">
                        <label for="id_reserve_date" class="col-form-label sp-teller">Date:</label>
                        </div>
                        <div class="col-md-9">
                          <div class="input-group date" id="datepicker">
                              <input type="text" class="form-control" id="id_reserve_date" name="reserve_date"/>
                              <span class="input-group-append">
                              <span class="input-group-text bg-light d-block">
                                  <i class="fa fa-calendar"></i>
                              </span>
                              </span>
                          </div>
                        </div>
                  </div>
                  <div class="row mb-3">
                    <div class="row">    
                      <div class="col-md-3">
                      <label for="id_reserve_time" class="col-form-label sp-teller pl-3">Time:</label>
                    </div>
                      <div class="col-md-9">
                      <div class="input-group date" id="timePicker">
                          <input type="text" class="form-control timePicker ml-3" name="reserve_time" id="id_reserve_time">
                          <span class="input-group-addon bg-light d-block pr-4 pl-4 pt-2"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                      </div>
                    </div>
                  </div>
                  </div>
                  <br>
                  <div class="col-md-6 d-grid gap-4 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-outline-primary btn-block cfm">Reserve Now</button>
                  </div>
              
                </form>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    
</div>

{% endblock %}