{% extends 'base.html' %}

{% load static %}

{% block title %}Restaurant{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% include '_partials/messages.html' %}
    </div>
    <div class="col-md-3"></div>
</div>
<div class="album py-5 bg-light" id="dk-bg">
<div class="container">
  
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for table in tables %}
        <div class="col mb-3">
          <div class="card grow shadow-sm">
            <img src="{{ table.image.url}}" alt="caribean-food">
            <div class="card-body">
              <p class="card-text">{{ table.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <div class="row d-md-flex">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4 mt-1">
                      <a href="{{ table.get_absolute_url }}" class="btn btn-block btn-outline-dark cfm kn ad mr-5">Book</a>
                    </div>
                    <div class="col-md-4 mt-1">
                      <a href="{% url 'restaurant:table-review' table.id table.slug %}" class="btn btn-block btn-outline-dark cfm kn ad mr-5">Detail</a>
                    </div>
                    <div class="col-md-2">
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
       
        {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% endif %}
  {% endfor %}
</div>
</div>
</div>

{% endblock %}