{% extends 'base.html' %}

{% load static %}

{% block title %}Bongo | Restaurant-Reviews{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2 style="text-align: center;">Reviews of Our Clients</h2>
        <hr class="hr">
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row g-4 mt-5">
{% if reviews %}
{% for review in reviews %}
<div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
    <div class="service-item rounded">
        <div class="service-icon bg-transparent border rounded p-1">
            <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                <img src="{{ review.author.profile.avatar.url }}" alt="Avatar" style="width: 100px;height: 100px;" class="ml-4 rounded">
            </div>
        </div>
        <h5 class="mb-3">{{ review.author | title }}</h5>
        <p class="text-body mb-0">{{ review.content|safe }}</p>
        <p class="text-right text-muted"><small>{{ review.date_created.date }}</small></p>
    </div>
</div>
{% if forloop.counter|divisibleby:3 %}
</div>
<div class="row g-4 mt-5">
    {% endif %}
    {% endfor %}
</div>
{% else %}
<div class="row text-center">
  <h3>No reviews.</h3>
</div>
{% endif %}
{% if reviews.has_other_pages %}
<nav aria-label="..." class="mt-5">
  <ul class="pagination justify-content-center">
    {% if reviews.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ reviews.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for p in reviews.paginator.page_range %}
      {% if reviews.number == p %}
        <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if reviews.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ reviews.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}
</ul>
</nav>
{% endif %}

{% endblock %}