{% extends 'base_auth.html' %}

{% load static %}
{% block title %}Table Review{% endblock %}
{% block content %}
<div class="row mt-3"></div>
<div class="row mt-3">
    <div class="col-lg-5 mt-5">
        <div class="card mb-3">
            <img class="card-img img-fluid" src="{{ table.image.url }}" alt="Card image cap" id="product-detail">
        </div>
        {% if reviews %}
        <div class="row">
            <div class="col-lg-6-offset-lg-3">
                Review{{ reviews.count|pluralize}}
                <span class="badge badge-dark ml-2">{{ reviews.count }}</span>
            </div>
            {% for review in reviews %}
            <div class="col-lg-6 offset-lg-3 mt-2">
                <div class="card p-2">
                    <div class="row">
                      <div class="col-12">
                        <img src="{{ review.author.profile.avatar.url }}" style="height:80px; width:80px; border-radius:50%;" alt="userimage">
                        <strong>{{ review.author.username }}</strong> said
                      </div>
                      <div class="col-12">
                        <p class="m-1 mt-3">{{ review.content }}</p>
                        <p class="text-right text-muted"><small>{{ review.date_created.date }}</small></p>
                      </div>
                    </div>
                  </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}
       
    </div>
    <div class="col-lg-7 mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="ci">Review this table</h2>
                   <br>
               
                {% include '_partials/messages.html' %}
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <div class="row mb-3 pb-3">
                        <div class="row">
                            <div class="col-md-3"><label for="content" class="ci">User:</label></div>
                            <div class="col-md-9 mb-3">
                             <input type="text" id="username" name="username" class="form-control" value="{{ request.user.username}}">
                            </div>
                      
                        </div>
                            <div class="row">
                                <div class="col-md-3"><label for="content" class="ci">Content:</label></div>
                                <div class="col-md-9 mb-3">
                                 <textarea name="content" id="" cols="15" rows="5" class="form-control"></textarea>
                                </div>
                          
                            </div>
                    <div class="row pb-2 btn-group gap-4">
                        {% if request.user.is_authenticated %}
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-outline btn-lg cfm" name="submit">Review</button>
                        </div>
                        {% else %}
                        <div class="col d-grid">
                            <a href="{% url 'account:signin' %}" class="btn btn-outline btn-lg cfm" name="go_home">Login To Review</a>
                        </div>
                        {% endif %}
                        <div class="col d-grid">
                            <a href="{% url 'restaurant:home' %}" class="btn btn-outline btn-lg cfm" name="go_home">Go Back Home</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}