{% extends 'base_auth.html' %}

{% load static %}
{% block title %}Bongo | Restaurant-Review{% endblock %}
{% block content %}
<div class="row mt-3"></div>
<div class="row mt-3">
    <div class="col-lg-5 mt-5">
        <div class="card mb-3">
            <img class="card-img img-fluid" src="{{ table.image.url }}" alt="Card image cap" id="product-detail">
        </div>
        {% if reviews %}
        <div class="row mt-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                
                <p class="highlight">Review{{ reviews.count|pluralize}} 
                <span class="badge badge-dark ml-2">{{ reviews.count }}</span>
                </p>
               
            </div>
            <div class="col-lg-3"></div>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-7 mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="ci">Review this table</h2>
                   <br>
               
                {% include '_partials/messages.html' %}
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="row mb-3 pb-3">
                        <div class="row">
                            <div class="col-md-3"><label for="author" class="ci">User:</label></div>
                            <div class="col-md-9 mb-3">
                             <input type="text" id="author" name="author" class="form-control" value="{{ request.user.username}}" disabled>
                            </div>
                      
                        </div>
                            <div class="row">
                                <div class="col-md-3"><label for="content" class="ci">Content:</label></div>
                                <div class="col-md-9 mb-3">
                                 <textarea name="content" id="content" cols="15" rows="5" class="form-control"></textarea>
                                </div>
                          
                            </div>
                    </div>
                    <div class="row pb-2 btn-group gap-4">
                        {% if request.user.is_authenticated %}
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-outline btn-lg cfm" name="submit">Review</button>
                        </div>
                        {% else %}
                        <div class="col d-grid">
                            <a href="{% url 'restaurant:login-user' %}" class="btn btn-outline btn-lg cfm">Login To Review</a>
                        </div>
                        {% endif %}
                        <div class="col d-grid">
                            <a href="{% url 'restaurant:home' %}" class="btn btn-outline btn-lg cfm">Go Back Home</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% if reviews %}
<div class="row g-4 mt-5">
    {% for review in reviews %}
    <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="service-item rounded">
            <div class="service-icon bg-transparent">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="{{ review.author.profile.avatar.url }}" style="height:80px; width:80px; border-radius:50%;" alt="userimage">
                </div>
            </div>
            <h3 class="mb-3 one">{{ review.author | title }}</h3>
            <p class="text-body mb-0">{{ review.content|safe }}</p>
            <p class="text-right text-muted"><small>{{ review.date_created.date }}</small></p>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row g-4 mt-5">
        {% endif %}
        {% endfor %}
    </div>
{% endif %}


{% endblock %}