{% extends 'base_auth.html' %}

{% load static %}
{% block title %}Bongo|Restaurant-Reservation {% endblock %}
{% block content %}
<div class="row mt-3"></div>
<div class="row mt-3">
    <div class="col-lg-5 mt-5">
        <div class="card mb-3">
            <img class="card-img img-fluid" src="{{ table.image.url }}" alt="{{ table.title}} image" id="product-detail">
        </div>
        
    </div>
    <div class="col-lg-7 mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="h2">{{ table.title }}</h2>
                <p class="h2 py-2">${{ table.cost }}</p>
                
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <h3 class="h2">Capacity: {{ table.capacity }}</h3>
                    </li>
                    <li class="list-inline-item">
                        <p class="text-muted"><strong>people</strong></p>
                    </li>
                </ul>

                <h4>Description:</h4>
                <p>{{ table.description|safe }}</p>
                {% include '_partials/messages.html' %}
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <div class="row mb-3 pb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="id_reserve_start">Start:</label>
                                </div>
                                <div class="col-md-9">
                                <div class="input-group date mb-3" id="datetimepicker1" data-target-input="nearest">
                                
                                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="reserve_start" id="id_reserve_start"/>
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                                </div>         
                            <div class="row">
                                <div class="col-md-3">
                                    <label for="Id_reserve_end">End:</label>
                                </div>
                                    <div class="col-md-9">
                                        <div class="input-group date mb-3" id="datetimepicker2" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="reserve_end" id="id_reserve_end"/>
                                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <div class="row pb-2 btn-group gap-4">
                        {% if request.user.is_authenticated %}
                        <div class="col d-grid">
                            <button type="submit" class="btn btn-outline btn-lg cfm" name="submit">Book Now</button>
                        </div>
                        {% else %}
                        <div class="col d-grid">
                            <a href="{% url 'restaurant:login-user' %}" class="btn btn-outline btn-lg cfm" name="go_home">Login To Book</a>
                        </div>
                        {% endif %}
                        <div class="col d-grid">
                            <a href="{% url 'restaurant:home' %}" class="btn btn-outline btn-lg cfm" name="go_home">Go Back Home</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}